:root{
  --primaryColor:#d32f2f;
  --primaryLightColor:#ff6659;
  --primaryDarkColor:#9a0007;
  --secondaryColor:#2fd3d3;
  --secondaryLightColor:#74ffff;
  --secondaryDarkColor:#00a1a2;
  --primaryTextColor:#ffffff;
  --secondaryTextColor:#000000;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


