:root{
  --primaryColor:#d32f2f;
  --primaryLightColor:#ff6659;
  --primaryDarkColor:#9a0007;
  --secondaryColor:#2fd3d3;
  --secondaryLightColor:#74ffff;
  --secondaryDarkColor:#00a1a2;
  --primaryTextColor:#ffffff;
  --secondaryTextColor:#000000;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fb;
}
.main{
  padding-left: 260px;
}
.ui.segment{
  min-height: 100px;
  background: transparent;
  box-shadow: none;
  border: none;
}
.primary_btn{
  height: 40px!important;
  border-radius: 4px!important;
  font-size: 14px!important;
  border: 1px solid var(--primaryColor)!important;
  background: white!important;
  color: var(--primaryColor)!important;
}
.primary_btn:hover{
  background: var(--primaryColor)!important;
  color: white!important;
}